/* External CSS */
body {
  background-color: #f4f4f9;
  font-family: Verdana, sans-serif;
}

h3 {
  color: burlywood;
  font-weight: bold;
}

p.external {
  color: violet;
  font-size: 16px;
}